{% extends "universities.html" %}
{% block navcontent %}
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{url_for('gdisconnect')}}">
								<i class="fa fa-sign-out"></i>
							Log Out
							</a>
					</li>
				</ul>
{% endblock %}
{% block content%}

    <div class="container">

      <div class="jumbotron text-center">
        <h3>Delete {{university.name}} ?</h3>
        <p class="lead">{{university.name}} will be deleted out of the database permanently.</p>
	<form action="{{url_for('deleteUniversity', university_id=university.id)}}" method="POST">
		<a type="button" href="{{url_for('showUniversities')}}" class="btn btn-primary">Cancel</a>
		<a type="button">
			<input type="submit" class="btn btn-primary btn-danger" value="Delete">
		</a>
	</form> 
						
		

      </div><!--jumbotron-->

{% endblock %}
{% block footer %}
<br>
<div class="container footer-login">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Got Room 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/Got_Room" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/gotRoompage/timeline" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
{% endblock %}
