{% extends "universities.html" %}
{% block navcontent %}
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{url_for('gdisconnect')}}">
								<i class="fa fa-sign-out"></i>
							Log Out
							</a>
					</li>

				</ul>

{% endblock %}
{% block content%}
    <div class="container">

      <div class="jumbotron">
        <h2>Edit Your Room Post Information.</h2>
        <p class="lead">Make Changes below.</p>
	<form action="{{url_for('editRoom', university_id=university_id, room_id=room_id, user_id=user_id)}}" method="POST">
		<div class="row">
			<div class="col-md-4">
				<input type="text" class="form-control" name="ownerName" placeholder="Edit Name">
			</div>

			<div class="col-md-3">
				<input type="text" class="form-control" name="phoneNum" placeholder="Edit Contact Number">
			</div>

			<div class="col-md-5">
				<input type="text" class="form-control" name="adress" placeholder="Edit Address">
			</div>
		</div><!--first row-->
		</br>
		<div class="row">
			<div class="col-md-2">
				<input type="text" class="form-control" name="roomSize" placeholder="Edit Room Size">
			</div>

			<div class="col-md-2">
				<input type="text" class="form-control" name="roomPrice" placeholder="Edit Room Price">
			</div>
		</div><!--second row-->
		</br>
		<div class="row">
			<div class="col-md-4" style="height: 100px">
				<input type="text" class="form-control" name="roomDescription" placeholder="Edit Room Details" style="height: 100%">
			</div>
		</div>
		</br>

			<a type="button" href="{{url_for('showRooms', university_id=university_id)}}">
				<input type="submit" class="btn btn-primary" value="Save Changes">
			</a>
					
			<a type="button" href="{{url_for('showRooms', university_id=university_id)}}" class="btn btn-primary btn-danger">Cancel Changes</a>
	</form> 

      </div><!--jumbotron-->
{% endblock %}
{% block footer %}
<br>
<div class="container footer-login">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Got Room 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/Got_Room" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/gotRoompage/timeline" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
{% endblock %}
      </div><!--container-->
