<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Edit University</title>
		<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
<body>
	<h1>Edit University</h1>
	<form action="{{url_for('editUniversity', university_id=university.id)}}" method="POST">
		<p>Name:</p>
		<input type="text" size="30" name="newEditedName" placeholder="{{university.name}}">
		<input type="submit" value="Edit">
		<a href="{{url_for('showUniversities')}}">Cancel</a>
	</form>
</body>
</html>