<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="off-campus rooms for rent near popular universities in malaysia">
	<meta name="author" content="Hamza Yahaya">
	<title>Got-Room</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{url_for('showUniversities')}}">Got-Room</a>
			</div><!--navbar-header-->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					
				</ul>
			</div><!--collapse navbar-collapse-->
		</div>
	</div><!--navbar-->
    <div class="container">

      <div class="jumbotron">
        <h2>Rent Out A Room.</h2>
        <p class="lead">Fill in all the details below</p>
	<form action="{{url_for('newRoom', university_id=university_id)}}" method="POST">
		<input type="text" size="30" name="ownerName" placeholder="Your Name">
		<input type="text" size="30" name="roomSize" placeholder="Room Size">
		<input type="text" size="30" name="roomDescription" placeholder="Room Details">
		<input type="text" size="30" name="roomPrice" placeholder="Price Per Month">
		<input type="text" size="30" name="adress" placeholder="Adress">
		<input type="text" size="30" name="phoneNum" placeholder="Contact Number">
		<input type="submit" size="25" value="Post Room">
		<a href="{{url_for('showRooms', university_id=university_id)}}">Cancel</a>
	</form> 

      </div><!--jumbotron-->
      </div>
</body>
</html>