<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="off-campus rooms for rent near popular universities in malaysia">
	<meta name="author" content="Hamza Yahaya">
	<title>New-Room</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{url_for('showUniversities')}}">Got-Room</a>
			</div><!--navbar-header-->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					
				</ul>
			</div><!--collapse navbar-collapse-->
		</div>
	</div><!--navbar-->
    <div class="container">

      <div class="jumbotron">
        <h2>Rent Out A Room.</h2>
        <p class="lead">Fill in all the details below</p>
	<form action="{{url_for('newRoom', university_id=university_id)}}" method="POST">
		<div class="row">
			<div class="col-md-4">
				<input type="text" class="form-control" name="ownerName" placeholder="Name">
			</div>

			<div class="col-md-3">
				<input type="text" class="form-control" name="phoneNum" placeholder="Contact Number">
			</div>

			<div class="col-md-5">
				<input type="text" class="form-control" name="adress" placeholder="Address">
			</div>
		</div><!--first row-->
		</br>
		<div class="row">
			<div class="col-md-2">
				<input type="text" class="form-control" name="roomSize" placeholder="Room Size">
			</div>

			<div class="col-md-2">
				<input type="text" class="form-control" name="roomPrice" placeholder="Room Price/Month">
			</div>
		</div><!--second row-->
		</br>
		<div class="row">
			<div class="col-md-4" style="height: 100px">
				<input type="text" class="form-control" name="roomDescription" placeholder="Room Details" style="height: 100%">
			</div>
		</div>
		</br>
		
		<input type="submit" value="Post Room" class="btn btn-success btn-lg" role="button">
		<a href="{{url_for('showRooms', university_id=university_id)}}" ><input type="url" value="Cancel Post"  size="7" class="btn btn-danger btn-lg" role="button"></a>
		
	</form> 

      </div><!--jumbotron-->
      </div><!--container-->
</body>
</html>