{% extends "universities.html" %}
{% block navcontent %}
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{url_for('gdisconnect')}}">
								<i class="fa fa-sign-out"></i>
							Log Out
							</a>
					</li>
				</ul>
{% endblock %}
{% block content%}

    <div class="container">

      <div class="jumbotron text-center">
        <h3>Add A New University.</h3>
        <p class="lead">Can't find your University from the list ? Go ahead and add it's name and it's city location</p>
	<form action="{{url_for('newUniversity')}}" method="POST">
		<div class="container">
			<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-6">
					<input type="text" class="form-control" size="40" name="newUni" placeholder="University name">
				</div>
			<div class="col-md-3"></div>
			</div>
			</br>
			<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-6 text-left">
					<input type="text" class="form-control" size="40" name="newCity" placeholder="City Name">
						{% with messages = get_flashed_messages() %}

							{% if messages %}
								<ul>
									{% for message in messages %}
										<li>
											<strong>{{message}}</strong>
										</li>

									{% endfor %}
								</ul>


							{% endif %}	

						{% endwith %} 
						<div class="col-md-3"></div>
				</div>	
			</div>
			</br>
					
					<div class="row">
						<div class="col-md-6">
							<a type="button" href="{{url_for('showUniversities')}}" >
							<input type="submit" class="btn btn-primary" value="Create">
							</a>
							

							<a href="{{url_for('showUniversities')}}"  class="btn btn-danger" role="button">
								Cancel
							</a>
						</div>
					</div>
					
							
			
		</div>
	</form> 


      </div><!--jumbotron-->

{% endblock %}
{% block footer %}
<br>
<div class="container footer-login">
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Got Room 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/Got_Room" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/gotRoompage/timeline" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
{% endblock %}
