{% extends "universities.html" %}
{% block navcontent %}
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{url_for('showLogin')}}">
					<i class="fa fa-sign-in"></i>
					Log in with google</a>
					</li>
				</ul>
{% endblock %}
    <div class="container">
    	{% block content %}
      <div class="jumbotron text-center">
        <h2>Find or Rent Out Rooms Near Your University.</h2>
        <p class="lead">This is where you can find off-campus rooms near around your university area. Log in to Post new Universities and rooms</p>
		{% with messages = get_flashed_messages() %}

		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>
						<strong>{{message}}</strong>
					</li>

				{% endfor %}
			</ul>


		{% endif %}	

		{% endwith %} 
      </div><!--jumbotron-->
          {% for university in universities %}
	      <div class="row text-center">
	      
	        <div class="col-md-12">
		
			<a href="{{url_for('showRooms', university_id=university.id)}}">
				<i class="fa fa-university fa-2x">{{university.name}} - {{university.city}}</i>

			</a>
			</br>
			</br>
			<hr>
			</br>	
			</br>			
	{% endfor %}
	          </div><!--col-md-12-->
	          </div><!--row-->

    </div><!-- /.container -->
    
    {% endblock %}
		
</body>
</html>