{% extends "universities.html" %}
{% block navcontent %}
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{url_for('showLogin')}}">
					<i class="fa fa-sign-in"></i>
					Log in with google</a>
					</li>
				</ul>
{% endblock %}
    <div class="container">
{% block content %}
      <div class="jumbotron">
        <h2 class="text-center">Rooms Available Around {{university.name}}.</h2>
		{% with messages = get_flashed_messages() %}

		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>
						<strong>{{message}}</strong>
					</li>

				{% endfor %}
			</ul>


		{% endif %}	

		{% endwith %} 
      </div><!--jumbotron-->
	</br>
<div class="row main-content">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		{% for room in rooms  %}
			<div class="row">
				<div class="col-md-8">
					<h4><b>Address: </b>{{ room.address }}</h4>
				</div>
				<div class="col-md-12">
					
					<p><b>Description: </b>{{ room.description}}</p>
					
					<img class="img-responsive" src="{{ url_for('static', filename=room.picture)}}" alt="room photo">
					<br>

					<p><b>Owner Name: </b>{{ room.owner_name }}</p>

					<p><b>Owner Contact: </b>{{ room.owner_number }}</p>
					
					<p><b>Room Price: </b>RM{{ room.price }} /month</p>	

					<p><b>Room size: </b>{{ room.size }}sqft</p>
			
			<hr>

				</div>	


				
			</div>
		{% endfor %}
		
	</div>
	<div class="col-md-2"></div>
</div>


{% endblock %}