<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="off-campus rooms for rent near popular universities in malaysia">
	<meta name="author" content="Hamza Yahaya">
	<title>Got-Room</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="{{url_for('showUniversities')}}">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Got-Room
				</a>
			</div><!--navbar-header-->
			<div class="collapse navbar-collapse">
			{% block navcontent %}
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{url_for('gdisconnect')}}">
								<i class="fa fa-sign-out"></i>
							Log Out
							</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="{{url_for('newUniversity')}}">Add University</a></li>
				</ul>

			{% endblock %}
			</div><!--collapse navbar-collapse-->
		</div>
	</div><!--navbar-->

    <div class="container">
{% block content %}
      <div class="jumbotron text-center">
        <h2>Find or Rent Out Rooms Near Your University.</h2>
        <p class="lead">This is where you can find off-campus rooms near around your university area.</p>
		{% with messages = get_flashed_messages() %}

		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>
						<strong>{{message}}</strong>
					</li>

				{% endfor %}
			</ul>


		{% endif %}	

		{% endwith %} 
      </div><!--jumbotron-->
          {% for university in universities %}
	      <div class="row text-center universities">
	      
	        <div class="col-md-12">
		
			<a href="{{url_for('showRooms', university_id=university.id)}}">
				<i class="fa fa-university fa-2x">{{university.name}} - {{university.city}}</i>

			</a>
			</br>
			</br>
			<a type="button" href="{{url_for('editUniversity', university_id=university.id)}}"class="btn btn-primary">Edit</a>
			<a type="button" href="{{url_for('deleteUniversity', university_id=university.id)}}" class="btn btn-primary btn-danger">Delete</a>
			<hr>
			</br>	
			</br>			
	{% endfor %}
	          </div><!--col-md-12-->
	          </div><!--row-->

    </div><!-- /.container -->
    {% endblock %}
   {% block footer %}
    <footer>
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Got Room 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/Got_Room" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/gotRoompage/timeline" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
   {% endblock %}
    
		
</body>
</html>